<div class = "container">
     <div class = "row">
        <div class = "col-md-3 col-sm-12">
			<br>
			<div class = "thumbnail text-center">
				<br>
				<span class= "text-left label label-success">Mode:{{admin}}</span>
				<br>
				<br>
					
				<img src = "assets/img/user.png" alt = "" class = "img-circle" style= "width: 130px; height: auto; border: 5px solid #F4F7F9; margin-bottom:6px;">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item"><i class = "pe-7s-culture"></i><a href = "/all-properties"> Properties</a></li>
				  <li class="list-group-item"><i class = "pe-7s-albums"></i><a href = "/all-tickets"> Tickets</a></li>
				  <li class="list-group-item"><i class = "pe-7s-culture"></i><a href = "/all-properties"> Properties</a></li>
				  <li class="list-group-item"><i class = "pe-7s-culture"></i><a href = "/all-properties"> Properties</a></li>
				  <li class="list-group-item"><i class = "pe-7s-culture"></i><a href = "/all-properties"> Properties</a></li>
				</ul>
			</div>	
		</div>

	
	
	