  <!-- Footer area-->
        <div class="footer-area">
            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>About us </h4>
                                <div class="footer-title-line"></div>

                                <!--<img src="" alt="" class="wow pulse" data-wow-delay="1s">--> MASTANDI
                                <p><strong>Mastand's</strong> dedication is to enable all Emaswatini to easily identify all available rooms for rent in Eswatini.</p> 
                              
                            </div>
                        </div>
						
						          <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Contact details</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-adress">
                                     <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i>Manzini, Eswatini</li>
                                    <li><i class="pe-7s-mail strong"> </i> zwelidumsani@gmail.com</li>
									<li><i class="pe-7s-mail strong"> </i> mastand@gmail.com</li>
                                    <li><i class="pe-7s-call strong"> </i> +268 78127625</li>
                                </ul>

                                </ul>
                            </div>
                        </div>
						
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Quick links </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="">Properties</a>  </li> 
                                    <li><a href="#">Services</a>  </li> 
                                    <li><a href="/submit">Submit property </a></li> 
                                    <li><a href="/contact">Contact us</a></li> 
                                    <li><a href="">fqa</a>  </li> 
                                </ul>
                            </div>
                        </div>
              
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>Stay in touch</h4>
                                <div class="footer-title-line"></div>
                                <p>Get in touch with us today in order to get all, info regarding available rooms for rent.</p>
                                <form>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="E-mail ... ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form> 

                                <div class="social pull-right"> 
                                    <ul>
                                        <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="">Mastand</a> , All rights reserved 2021  </span> 
                        </div> 
						<!--
                        <div class="bottom-menu pull-right"> 
                            <ul> 
                                <li><a class="wow fadeInUp animated" href="/" data-wow-delay="0.2s">Home</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                                <li><a class="wow fadeInUp animated" href="/contact" data-wow-delay="0.6s">Contact</a></li>
                            </ul> 
                        </div>
						-->
                    </div>
                </div>
            </div>

        </div>