    <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Contact us </h1>               
                    </div>
                </div>
            </div>
        </div>
		
		
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">  
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-map-marker"></i> Address</h3>
                                    <p>M200,Mancishane St
                                        <br>Summer Place Building 
                                        <br>
                                        <strong>Manzini</strong>
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-phone"></i> Call center</h3>
                                    <p class="text-muted">Client, agents and the general public
									 call us any time for more clarification about any
									 subject regarding our operations.
                                     form of communication.</p>
									 
                                    <p><strong>+268 78127625</strong></p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-envelope"></i> Email support</h3>
                                    <p class="text-muted">Please feel free to write an email to us.</p>
                                    <ul>
                                         <li><strong><a href="https://mail.google.com/" target="_blank"></strong>mastandinfo@gmail.com</a></li>
                                         <li><strong><a href="https://mail.google.com/" target="_blank"></strong>zwelidumsani@gmail.com</a></li>
                                    </ul>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>
                            <!-- /.row -->
                            <hr>
                              <div class="map-section">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.1546496782034!2d31.37994166519389!3d-26.497916864936464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eef4ee9b52f331d%3A0x820138d600af5e26!2sManci%20Shane%20St%2C%20Manzini%2C%20Eswatini!5e0!3m2!1sen!2s!4v1614680843488!5m2!1sen!2s" width="750" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
                            <hr>
                            <h2>Write Us A Message</h2>
							   {{#if emailSuccess}} 
					 <div class = "alert alert-success" alert-dismissable style = "border-radius:4px;>
					     <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
					     <i class = "lnr lnr-checkmark-circle"></i>  Email was successfully sent.</p>
					 </div>	
			     {{/if}}
			   
				 {{#if emailError}} 
				     <div class = "alert alert-danger" alert-dismissable style = "border-radius:4px;>
						 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
						 <i class = "lnr lnr-cross-circle"></i>  Could not send email.</p>
					 </div>	
				 {{/if}}
							 <div class="box-for overflow thumbnail" style = "box-shadow: 0 0 7px black; margin-top: 20px;">
			
                            <form action = "/email" role="form" method = "post" style = "padding:20px;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Your name</label>
                                            <input type="text" name = "name" class="form-control" id="firstname" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" name = "email" class="form-control" id="email" required>
                                        </div>
                                    </div>
                                  
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea id="message" rows = "6" class="form-control" name = "message" required></textarea>
                                        </div>
                                    </div>
									<input type = "hidden" name = "_csrf" value = "{{csrfToken}}">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
							</div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>