        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Personal info </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
 

        <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <div class="box-for overflow thumbnail" style = "box-shadow: 0 0 7px black; margin-top: 20px;">                         
                        <div class="col-md-12 col-xs-12 login-blocks">
						
								 {{#if ErrorSavingTicket}} 
					 <div class = "alert alert-danger" alert-dismissable style = "border-radius:4px;>
					     <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
					     <i class = "lnr lnr-checkmark-circle"></i>  Error!</p>
					 </div>	
			     {{/if}}
			   
				 {{#if ticketSaved}} 
				     <div class = "alert alert-success" alert-dismissable style = "border-radius:4px;>
						 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
						 <i class = "lnr lnr-cross-circle"></i> Success! You will shortly be contated by  the Landlord.</p>
					 </div>	
				 {{/if}}
                            <form action="/ticket" method="post" style = "margin-top: 10px;" >
							    
								<label for="property-images">Yourn name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name = "name" id="propertyname" placeholder = "Your name" required>
                                </div>
								
								<label for="property-images">Your surname</label>
                                <div class="form-group">
                                    <input type="Text" class="form-control" name = "surname" id="password" placeholder = "Your surname" required>
                                </div>
								
								<label for="property-images">Your Cell number</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name = "phonenumber" id="password" placeholder = "Your phone number" required>
                                </div>
							
							     <input type = "hidden" name = "_csrf" value = "{{csrfToken}}">
                                 <div class="text-center">
                                    <button type="submit" class="btn btn-default"> Submit</button>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>  